<div class="styles">
  <h1 class="styles__title">General styles</h1>
  <div class="styles__body" *ngIf="checkStyles">
    <label for="styleColor">Text color</label>
    <input id="styleColor" class="styleInput" [(ngModel)]="styles.color"  type="text"> <!-- color -->

    <label for="styleSize">Font size</label>
    <input id="styleSize" class="styleInput" [(ngModel)]="styles.fontSize" type="text"> <!-- font size -->

    <label for="styleWidth">Width</label>
    <input id="styleWidth" class="styleInput" [(ngModel)]="styles.width" type="text"> <!-- width -->

    <label for="styleHeight">Height</label>
    <input id="styleHeight" class="styleInput" [(ngModel)]="styles.height" type="text"> <!-- height -->

    <label for="styleBack">Background color</label>
    <input id="styleBack" class="styleInput" [(ngModel)]="styles.backgroundColor" type="text"> <!-- background -->

    <button class="styleInput" (click)="changeStyles()">apply</button>
  </div>
  <div *ngIf="currentObj.type === 'select'" class="style__option">
    <h3>Add/Delete option</h3>
    <input [(ngModel)]="optionAdd" placeholder="Option name to add" type="text">
    <button (click)="addOption()">Add option</button>
    <input [(ngModel)]="optionDel" placeholder="Option name to delete" type="text">
    <button (click)="delOption()">Delete option</button>
  </div>
</div>
