<div class="register">
  <h2>Sign in</h2>
  <form class="example-form" onsubmit="return false;" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input required type="email" matInput [formControlName]="'emailFormControl'" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input [formControlName]="'passwordFormControl'" type="password" required matInput>
      </mat-form-field>
      <span style="color: red" *ngIf="currentError!.length">
          {{ currentError }}
      </span>
    </div>
    <button (click)="getLoginData()" mat-raised-button color="warn">Primary</button>
  </form>
</div>
