<div class="register">
  <h2>Sign up</h2>
  <form class="example-form" onsubmit="return false;" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input required type="email" matInput [formControlName]="'emailFormControl'" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input [formControlName]="'passwordFormControl'" type="password" required matInput>
      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength')">
        Password length should be min <strong>6</strong> symbols!
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('maxlength')">
        Password length should be max <strong>25</strong> symbols!
      </mat-error>
    </mat-form-field>
    <button (click)="getRegisterData()" mat-raised-button color="warn">Primary</button>
  </form>
</div>

