<div class="nav">
  <span class="nav__title">Form Builder</span>
  <div>
    <button *ngIf="!_auth.loggedIn()" mat-raised-button color="primary" routerLink="/login">Login</button>
    <button *ngIf="!_auth.loggedIn()" mat-raised-button color="warn" routerLink="/register">Register</button>
    <button *ngIf="_auth.loggedIn()" mat-raised-button color="primary" (click)="_auth.save()">Save</button>
    <button *ngIf="_auth.loggedIn()" mat-raised-button color="warn" (click)="_auth.logOut()">Log out</button>
  </div>
</div>
<router-outlet></router-outlet>
