<div class="builder">
  <ng-container *ngIf="preview$ | ngrxPush as test">
    <app-preview cdkDropList
                 [ngStyle]="{'width': '50%'}"
                 #previewList="cdkDropList"
                 [cdkDropListData]="test.concat()"
                 [cdkDropListConnectedTo]="[elementsList]"
                 [elements]="elements"
                 [preview]="test.concat()"
                 (cdkDropListDropped)="drop($event, previewActive())">
    </app-preview>
    <app-elements-list
      [ngStyle]="{'width': '50%'}"
      #elementsList="cdkDropList"
      cdkDropList
      [cdkDropListData]="elements"
      [cdkDropListConnectedTo]="[previewList]"
      [elements]="elements"
      [preview]="test.concat()"
      (cdkDropListDropped)="drop($event, elementListActive())"
      [cdkDropListSortPredicate]="sortPredicate">
    </app-elements-list>
  </ng-container>
</div>
